body {
    font-family: 'Roboto', sans-serif;
}


header {
    height: 60px;
    background-color: #BBBBBB;
}

.head_1 {
    width: 100%;
    height: 60px;
    margin: auto;
}

img {
    height: 80px;
    width: 80px;
}

nav {
    
    position: absolute;
    top: 20px;
    right: 5px;
    bottom: 10px;
}

nav li {
    display: inline;
    margin: 0 0 0 10px;
}

nav ul button{
        padding: 1.3em 3em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
}
      
nav ul button:hover {
        background-color: #23c483;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
}
      
nav ul button:active {
        transform: translateY(-1px);
}    

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;    
}

.banner {
    width: 100%;
    height: 320px;
    margin: 0;
}

.banner img {
    width: 100%;
    height: 320px;
}    

.presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #23c483;
    padding: 0;
    text-align: center ;
}

.presentacion .pres_1 { 
    color: aliceblue;
    font-size: 28px;
    font-weight: bold;
    
}

.presentacion_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    
    
}
.presentacion_2 .pres_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    margin-top: 50px;
    display: flex;
    width: 100%;
    margin-bottom: 200px;
}
.prod{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    
} 

.prod li {
    
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background-color: #BBBBBB;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 83px;
    background: linear-gradient(45deg, #cacaca, #f0f0f0);
    box-shadow:  5px -5px 10px #6e6e6e,
                -5px 5px 10px #ffffff;
}

.prod li a {
    text-decoration: none;
}
.prod li:hover {
    background-color: #23c483;
    transform: translateY(-7px);
}

.prod h2 {
    font-size: 25px;
    font-weight: bold;
    
}

.detalle {
    font-size: 15px;
    margin-top: 10px;
}

.prod img {
    width: 300px;
    height: 300px;
}

footer{
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: #23c483;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}