header {
    background-color: #04cc5e;
    
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: aliceblue;
    width: -40%;
    margin: 0;
}

nav li {
    display: inline;
    padding: 8px;
    margin-right: 20px;
    
}

nav li a {
    text-decoration: none;
}
/**header .nombre { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
header .nombre h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    padding: 100px;
}

header .nombre h2 {
    display: inline-block;
}**/