header {
    height: 120px;
    background-color: #BBBBBB;
}

.head_1 {
    width: 100%;
    height: 120px;
    margin: auto;
}

img {
    height: 100px;
    width: 100px;
    padding-top: 20px;
}

nav {
    
    position: absolute;
    top: 100px;
    right: 50px;
    bottom: 10px;
}

nav li {
    display: inline;
    margin: 0 0 0 10px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

main {
    display: flex;
    width: 100%;
}
.prod{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    
} 

.prod li {
    
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background-color: #BBBBBB;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 83px;
    background: linear-gradient(45deg, #cacaca, #f0f0f0);
    box-shadow:  5px -5px 10px #6e6e6e,
                -5px 5px 10px #ffffff;
    
}

.prod h2 {
    font-size: 25px;
    font-weight: bold;
    
}

.detalle {
    font-size: 15px;
    margin-top: 10px;
}

.prod img {
    width: 300px;
    height: 300px;
}

